<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
    <meta charset="utf-8">
    <title>Lisää valmistaja</title>
</head>

<body>
    <h1>Lisää valmistaja</h1>
    <div>
        <form th:object="${manufacturer}" th:action="@{/savemanufacturer}" method="post">
            <label for="name">Nimi:</label>
            <input type="text" id="name" th:field="*{name}" />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

            <input type="submit" value="Tallenna" /><br>

            <br> <a th:href="@{/cancelmanuaction}" class="btn btn-danger">Peruuta</a>
        </form>
    </div>
</body>

</html>