<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Add manufacturer</title>
</head>

<body>
    <h1>Add manufacturer</h1>
    <div>
        <form th:object="${manufacturer}" th:action="@{/savemanufacturer}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" />
            <input type="submit" value="save" />
        </form>
    </div>
</body>

</html>

<!-- Controlleriin jotenki näin sit:

 @RequestMapping("/addmanufacturer")
 public String addManu(Model manu) {
 manu.addAttribute("manufacturer", new Manufacturer());
 manu.addAttribute("manufacturers", mrepository.findAll());
 return "addmanufacturer";

 }
 -->