<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <title>Lisää Tuote</title>
</head>

<body>
  <h1>Lisää Tuote</h1>
  <div>
    <form th:object="${product}" th:action="@{/saveproduct}" method="post">
      <label for="title">Tuotteen nimi:</label>
      <input type="text" id="title" th:field="*{title}" />
      <label for="price">Hinta:</label>
      <input type="text" id="price" th:field="*{price}" />

      <label for="productType">Tuotetyyppi:</label>
      <select id="productType" name="productTypeId" class="form-control">
        <option th:each="productType : ${productTypes}" th:value="${productType.id}" th:text="${productType.name}">
        </option>
      </select>
      <label for="color">Väri:</label>
      <input type="text" id="color" th:field="*{color}" />
      <div>
        <label for="size">Koko:</label>
        <select name="size" id="size" th:field="*{size}">
          <option value=""></option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
        </select>
      </div>

      <label for="manufacturer">Valmistaja:</label>
      <select id="manufacturer" name="manufacturerId">
        <option th:each="manu : ${manufacturers}" th:value="${manu.id}" th:text="${manu.name}"></option>
      </select>
      <input type="submit" value="Save" />
    </form>
  </div>
</body>

</html>