<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
    <meta charset="utf-8">
    <title>Muokkaa tuotetta</title>
</head>

<body>
    <h1>Muokkaa tuotetta</h1>

    <form th:object="${product}" th:action="@{/save}" action="#" method="post">
        <label for="id"></label>
        <input type="hidden" id="id" th:field="*{id}" class="form-control" />

        <label for="title">Tuote:</label>
        <input type="text" id="title" th:field="*{title}" /><br>

        <label for="manufacturer">Valmistaja:</label>
        <select id="manufacturer" th:field="*{manufacturer}" class="form-control">
            <option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}"
                th:text="${manufacturer.name}">
            </option>
        </select> <br>

        <label for="price">Hinta:</label>
        <input type="number" step="0.01" id="price" th:field="*{price}" /><br>

        <label for="type">Tyyppi:</label>
        <select id="productType" th:field="*{productType}" class="form-control">
            <option th:each="productType: ${productTypes}" th:value="${productType.id}" th:text="${productType.name}">
            </option>
        </select> <br>

        <label for="color">Väri:</label>
        <input type="text" id="color" th:field="*{color}" /><br>

        <div>
            <label for="size">Koko:</label>
            <select name="size" id="size" th:field="*{size}">
                <option value=""></option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
            </select>
        </div>

        <label for="quantity">Määrä:</label>
        <input type="number" id="quantity" th:field="*{quantity}" /><br>

        <input type="submit" class="btn btn-success" value="Tallenna"></input>
    </form>
    <br> <a th:href="@{/cancelaction}" class="btn btn-danger">Peruuta</a>
</body>

</html>