<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
    <title>Valmistajat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" />
</head>

<body>
    <div>
        <div>
            <h1>Valmistajat</h1>
        </div>
        <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Valmistaja</th>
                    <th>Tuotteet</th>
                    <th>Poista</th>

                </tr>
            </thead>
            <tbody>

                <tr th:each="manufacturer : ${manufacturers}">
                    <td th:text="${manufacturer.name}">Valmistaja</td>

                    <td>
                        <form th:action=" @{/manufacturer/{id}(id=${manufacturer.id})}" method="get">
                            <button type="submit" class="btn btn-primary">Tuotteet</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/deletemanufacturer/{id}(id=${manufacturer.id})}" method="get">
                            <button type="submit" class="btn btn-danger">Poista</button>
                        </form>

                    </td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/addmanufacturer}">Lisää valmistaja</a>
        <a th:href="@{/frontpage}">Etusivu</a>
    </div>
</body>

</html>