<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
    <title>Päivitä tuotteen määrä</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" />
</head>

<body>
    <div>
        <div>
            <h1>Päivitä tuotteen määrä</h1>
        </div>
        <form th:object="${product}" th:action="@{/savequantity}" action="#" method="post">
            <label for="id"></label>
            <input type="hidden" id="id" th:field="*{id}" /><br>

            <label for="quantity">Määrä:</label>
            <input type="number" id="quantity" th:field="*{quantity}" />

            <input type="submit" class="btn btn-success" value="Tallenna"></input>
        </form>
        <br> <a th:href="@{/cancelstockaction}" class="btn btn-danger">Peruuta</a><br>
        <a th:href="@{/frontpage}">Etusivu</a>
    </div>
</body>

</html>