<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
    <title>Tuotteiden varastosaldo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" />
</head>

<body>
    <div>
        <div>
            <h1>Tuotteiden varastosaldo</h1>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Tuote</th>
                <th>Valmistaja</th>
                <th>Määrä</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.title}"></td>

                <td th:text="${product.manufacturer.name}">
                </td>
                <td th:text="${product.quantity}"></td>
            </tr>
        </table>
        <a th:href="@{/frontpage}">Etusivu</a>
    </div>
</body>

</html>