<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Something went wrong</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <h1>This page is currently being built. Thank you for your patience!</h1>
    <a th:href="@{/frontpage}" class="btn btn-success"
      >Back to the Front page</a
    >
  </body>
</html>
